
a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #F9FAFB;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
}

.header *, .hero *:not(button), .footer { 
    background-color: #1F2937;
    color: #F9FAFB;
    font: 'Roboto', sans-serif;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote * {
    background-color: #E5E7EB;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAFB;
}